{{ partial "head.html" . }}

<body class="list h-feed">

  <header>
    <h1><img src="{{ .Site.Params.image }}" alt="{{.Title}}"></h1>
    <h2>{{.Title}}</h2>
  </header>
  <main class="hfeed">
{{ $paginator := .Paginate (where .Site.Pages "Type" "page") }}
{{ range $index, $element := $paginator.Pages }}
 
  <div class="entry"> 
    <header class="{{ if .Params.image_header }}with-background{{end}}" style="{{ if .Params.image_header }}background-image: url('{{ .Params.image_header }}'); {{end}}">
       <h3> <a href="{{ if .Params.link }}{{.Params.link}}{{ else }}{{ .Permalink }}{{end}}" class="entry-title u-url">{{ .Title}}</a></h3>
    </header>
    <div class="description">
      <div class="author hcard">
        <div>
          <span><time pubdate class="dt-published">{{  .Date.Format "January 2 2006" }}</time></span>
        </div>
      </div>
      <p class="nugget {{ if .Params.link }}entry-content{{else}}entry-summary{{end}}">
        {{ if .Params.link }}
          {{.Content }}  
        {{else}}
          {{ if .Description }}{{ .Description | html }}{{ else }}{{ .Summary }}{{ end }}
        {{end}}
      </p>
      {{ if (eq $index 0) }}
      <div>
          <audio controls src="{{.Params.mp3}}"></audio>
      </div>
      {{end}}
      <div>
        <a download href="{{.Params.mp3}}"><svg viewBox="0 0 39 39">
          <title><!---->Download<!----></title>
          <circle class="action-progress" cx="19.5" cy="19.5" r="18" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="3" style="--progress: 0"></circle>
          <path d="M26.5,18.5v7h-14v-7h-2v7a2,2,0,0,0,2,2h14a2,2,0,0,0,2-2v-7Zm-6,.67,2.59-2.58L24.5,18l-5,5-5-5,1.41-1.41,2.59,2.58V9.5h2Z" class="action-dl action-on"></path>
          <path d="M19.5,9.5a10,10,0,1,0,10,10A10,10,0,0,0,19.5,9.5Zm5,13.59L23.09,24.5,19.5,20.91,15.91,24.5,14.5,23.09l3.59-3.59L14.5,15.91l1.41-1.41,3.59,3.59,3.59-3.59,1.41,1.41L20.91,19.5Z" class="action-abort action-off"></path>
          <path d="M13.5,26.5a2,2,0,0,0,2,2h8a2,2,0,0,0,2-2v-12h-12Zm13-15H23l-1-1H17l-1,1H12.5v2h14Z" class="action-del action-off"></path>
          <path d="M18.5,22.5h2v2h-2Zm0-8h2v6h-2Zm1-5a10,10,0,1,0,10,10A10,10,0,0,0,19.49,9.5Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,19.5,27.5Z" class="action-error action-off"></path>
        </svg></a>
      </div>
      {{ if .Translations }}
      <div class="langs">
          Available in: 
          {{ range $i, $e := .Translations }}{{ if $i }}, {{end}}<a href="{{$e.Permalink}}">{{$e.Language.LanguageName}}{{ if eq $e.Lang "en"}}(Original){{end}}</a>{{ end }}
      </div>
      {{ end }}
      <div style="text-align: right;">
      {{ if not .Params.link }}
      <a class="read-more" href="{{ .Permalink }}">
         Read More
      </a>
      {{else}}
      {{ $tags := .Params.tags}}{{end}}
      </div>
    </div>
  </div>
{{ end }}
        
  <nav style="text-align: center">
    <div>
    {{ if .Paginator.HasPrev }}
    <a href="{{ .Paginator.Prev.URL }}">Previous</a>
    {{ end }}
    |
    {{ if .Paginator.HasNext }}
      <a href="{{ .Paginator.Next.URL }}">More</a>
    {{ end }}
    </div>
  </nav>
</main>
</body>
</html>