[submodule "site/themes/terminal"]
	path = site/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "site/themes/cocoa"]
	path = site/themes/cocoa
	url = https://github.com/nishanths/cocoa-hugo-theme.git
